div[data-testid="stVerticalBlock"] div:has(div.fixed-header) {
    position: sticky;
    top: 1rem;
    background-color: white;
    z-index: 999;
}
.fixed-header {
    border-bottom: 1px solid black;
}